<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIGHT METRICS</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>

<body>

<form action="/submit" method="post">
    DATE:<br>
    <input type="text" id="date1" name="date1" class="date1" >
    <br>
    START TIME:<br>
    <input type="text" id="startTime" name="startTime" class="startTime" >
    <br>
    DURATION TO PLAY:<br>
    <input type="text" id="duration" name="duration" class="duration" >
    <br>
    DRIVER TOKEN:<br>
    <input type="text" id="driverToken" name="driverToken" class="driverToken" >

    <br><br>

    <button type="submit">Submit</button>

</form>

</body>


</html>